.clients {
  display: flex;
  gap: $card-gap;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.clients__item {
  flex-basis: calc((100% - 30px) / 2);
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid;
  border-color: inherit;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  height: 92px;
  transition: color 250ms $transition-cubic, border-color 250ms $transition-cubic;
  color: $icon-color;
  &:hover,
  &:focus {
    color: $brand-color;
    border-color: $brand-color;
  }
}

.clients__icon {
  display: flex;
  text-align: center;
  justify-content: center;
  fill: currentColor;
}

.clients__title {
  color: $title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(33 / 28);
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}
