// 480px
@media screen and(min-width:480px) {
  .soc__item {
    width: 450px;
    height: 226px;
  }

  .hero-item {
    flex-basis: 270px;
  }

  .soc__list {
    width: 450px;
    height: 120px;
  }

  .soc__icon-box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--background-our-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
    width: 270px;
    height: 16px;
  }

  .soc__text {
    line-height: 1.71;
    color: var(--primary-text-color);
  }

  .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// 768px
@media screen and(min-width:768px) {
  .hero-item {
    flex-basis: 270px;
  }

  .soc__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 738px;
  }
  .soc__item {
    width: calc((100% - 30px) / 2);
  }
  .soc__icon-box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--background-our-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
  }

  .soc__text {
    width: 354px;
    height: 48px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// 1200px
@media screen and(min-width:1200px) {
  .hero-item {
    flex-basis: 270px;
  }

  .soc__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
  }
  .soc__item {
    width: 270px;
    height: 120px;
  }
  .soc__icon-box {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background: var(--background-our-team);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .soc__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--secondary-text-color);
    margin-bottom: 10px;
  }

  .soc__text {
    line-height: 1.71;
    color: var(--primary-text-color);
  }

  .hero {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
