.team {
  background-color: $section-color;
}

.team__title {
  color: $title-color;
  font-weight: 700;
  font-size: 28px;
  line-height: calc(28 / 33);
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: calc(42 / 36);
    margin-bottom: 50px;
  }
}

.team-members__name {
  color: $title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team-members {
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: $card-gap;
  }
}

.team-members__item {
  background-color: $white-color;
  box-shadow: $team-member-shadow;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team-members__description {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.team-members__thumb {
  padding: 30px 0;
}
